.navbar {
    border-radius: 0px;
}

.pretraga_vesti h2 {
    text-align: center;
}

.footer {
    background-color:darkslategrey;
    color: white;
    min-height: 40px;
    padding-top: 10px;
    width: 100%;
}
.jumbotron{
        background-image: url('slika1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        font-family:Verdana; 
        color: white;
  }
  body {
    background-image: url('slika.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:Verdana; 
    color: white;
  }
  